[submodule "plugins/ioMenuPlugin"]
	path = plugins/ioMenuPlugin
	url = git://github.com/weaverryan/ioMenuPlugin.git
[submodule "plugins/npAssetsOptimizerPlugin"]
	path = plugins/npAssetsOptimizerPlugin
	url = git://github.com/n1k0/npAssetsOptimizerPlugin.git
[submodule "plugins/ioEditableContentPlugin"]
	path = plugins/ioEditableContentPlugin
	url = git://github.com/weaverryan/ioEditableContentPlugin.git
[submodule "plugins/ioPagePlugin"]
	path = plugins/ioPagePlugin
	url = git://github.com/iostudio/ioPagePlugin.git
[submodule "plugins/ioBlogPlugin"]
	path = plugins/ioBlogPlugin
	url = git://github.com/weaverryan/ioBlogPlugin.git
[submodule "plugins/vjCommentPlugin"]
	path = plugins/vjCommentPlugin
	url = git://github.com/fizyk/vjCommentPlugin.git
[submodule "plugins/sfDoctrineActAsTaggablePlugin"]
	path = plugins/sfDoctrineActAsTaggablePlugin
	url = git://github.com/annismckenzie/sfDoctrineActAsTaggablePlugin.git
